# Logs
logs
*.log

# Dependency directories
node_modules/
venv/
.venv/

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# SQLite
*.db
*.sqlite3

# Project specific
uploads/
frontend/dist/
.DS_Store
